@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: #474c59;
  overflow: hidden; /* no scroll on centered pages */
}

.scrollable {
  overflow: auto; /* enable scrolling only where needed */
} 
