@tailwind base;
@tailwind components;
@tailwind utilities;

/* === ALL IN base === */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* FIX: no scroll on centered card pages */
body {
  background: #474c59;
  overflow: hidden;
}

/* allow scroll ONLY where explicitly needed */
.scrollable {
  overflow: auto;
} 
